body {
  padding-top: 50px;
  background-image: url("wood-pattern.jpg");
}

a, h1, h1, h3, p {
    color: #333;
}

.starter-template {
  padding: 40px 15px;
  text-align: center;
}

.gr_custom_container_1446693859 {
    /* customize your Goodreads widget container here*/
    border: 2px solid gray;
    border-radius:10px;
    padding: 10px 5px 10px 5px;
    background-color: rgba(200,200,200,.7);
    color: #000000;
}

.gr_custom_each_container_1446693859 {
    /* customize each individual book container here */
    width: 30%;
    margin-bottom: 10px;
    overflow: auto;
    padding-bottom: 4px;
    border-bottom: 1px solid #aaa;
    /*float: left;*/
    display: inline-block;
}
